# Set global options
data_dir = "{{ vector_datadir }}"

# Vector's API (disabled by default)
# Enable and try it out with the `vector top` command
[api]
enabled = true
address = "0.0.0.0:8686"

[sources.test_log]
type = "file"
ignore_older_secs = 600
include = [ "/home/vector/test/*.log" ]
read_from = "beginning"

[sinks.docker_clickhouse]
type = "clickhouse"
inputs = [ "test_log" ]
database = "logs"
endpoint = "http://clickhouse-01:8123"
table = "file_log"
compression = "gzip"
auth = { user = "logger", password = "logger", strategy = "basic" }
skip_unknown_fields = true